@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    padding: 5%;
    background-color: aqua;
}
.video{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.titulo{
    font-family: Montserrat;
    font-size:1.5rem;
    text-align: center;
}